In [25]:
import pandas as pd

In [26]:
csv_path = "../data/sample5.csv"
df = pd.read_csv(csv_path)

In [27]:
df

,Unnamed: 0,image_name,words,bboxes,labels
0,0,sample5_image_0.jpeg,いつもご利⽤いただきありがとうございます。,"[53, 880, 331, 888]",others
1,1,sample5_image_0.jpeg,INVOICE,"[470, 59, 531, 68]",others
2,2,sample5_image_0.jpeg,株式会社デモ,"[53, 138, 184, 153]",clientName
3,3,sample5_image_0.jpeg,下記の通りご請求申し上げます。,"[379, 165, 559, 172]",others
4,4,sample5_image_0.jpeg,"\99,790","[391, 248, 484, 266]",total
5,5,sample5_image_0.jpeg,ご請求⾦額,"[80, 248, 213, 266]",others
6,6,sample5_image_0.jpeg,（税込）,"[494, 250, 571, 263]",others
7,7,sample5_image_0.jpeg,品,"[272, 298, 284, 306]",others
8,8,sample5_image_0.jpeg,番,"[289, 298, 300, 306]",others
9,9,sample5_image_0.jpeg,•,"[305, 298, 309, 306]",others
10,10,sample5_image_0.jpeg,品,"[314, 298, 326, 306]",others
11,11,sample5_image_0.jpeg,名,"[331, 298, 342, 306]",others
12,12,sample5_image_0.jpeg,数,"[615, 298, 626, 306]",others
13,13,sample5_image_0.jpeg,量,"[631, 298, 643, 306]",others
14,14,sample5_image_0.jpeg,顧問料,"[67, 321, 104, 330]",others
15,15,sample5_image_0.jpeg,(2020年9⽉分),"[109, 321, 198, 330]",others
16,16,sample5_image_0.jpeg,振込先：みずほ銀⾏,"[53, 912, 171, 920]",bankinfo
17,17,sample5_image_0.jpeg,⻁ノ⾨⽀店（普通）0101010,"[186, 912, 357, 920]",bankinfo
18,18,sample5_image_0.jpeg,お振込み⼿数料は御社ご負担にてお願いいたします。,"[53, 927, 371, 935]",others
19,19,sample5_image_0.jpeg,お⽀払い期限：2020年10⽉31⽇,"[53, 942, 247, 951]",paymentDueDate
20,20,sample5_image_0.jpeg,請,"[423, 21, 452, 41]",others
21,21,sample5_image_0.jpeg,求,"[485, 21, 514, 41]",others
22,22,sample5_image_0.jpeg,書,"[547, 21, 576, 41]",others
23,23,sample5_image_0.jpeg,備考,"[489, 856, 510, 863]",others
24,24,sample5_image_0.jpeg,消費税,"[586, 768, 625, 776]",others
25,25,sample5_image_0.jpeg,10%,"[631, 768, 657, 776]",others
26,26,sample5_image_0.jpeg,1,"[618, 321, 623, 330]",others
27,27,sample5_image_0.jpeg,"\100,000","[885, 321, 939, 330]",others
28,28,sample5_image_0.jpeg,⼩計,"[616, 744, 642, 752]",others
29,29,sample5_image_0.jpeg,"\10,210","[892, 792, 941, 800]",others
30,30,sample5_image_0.jpeg,源泉税,"[608, 792, 647, 800]",others
31,31,sample5_image_0.jpeg,"\99,790","[892, 814, 941, 823]",total
32,32,sample5_image_0.jpeg,合計⾦額,"[601, 814, 653, 823]",others
33,33,sample5_image_0.jpeg,単,"[742, 298, 754, 306]",others
34,34,sample5_image_0.jpeg,価,"[759, 298, 771, 306]",others
35,35,sample5_image_0.jpeg,⾦,"[872, 298, 884, 306]",others
36,36,sample5_image_0.jpeg,額,"[889, 298, 900, 306]",others
37,37,sample5_image_0.jpeg,"\100,000","[756, 321, 811, 330]",others
38,38,sample5_image_0.jpeg,⼭⽥法律事務所,"[759, 180, 867, 190]",others
39,39,sample5_image_0.jpeg,"\100,000","[885, 744, 941, 752]",others
40,40,sample5_image_0.jpeg,"\10,000","[892, 768, 941, 776]",others

In [28]:
image_path = df['image_name'][0]
print(image_path)

sample5_image_0.jpeg

In [29]:
words = df['words'].values
bboxes = df['bboxes'].values
labels = df['labels'].values
print(words)

['いつもご利⽤いただきありがとうございます。' 'INVOICE' '株式会社デモ' '下記の通りご請求申し上げます。' '\\99,790'
 'ご請求⾦額' '（税込）' '品' '番' '•' '品' '名' '数' '量' '顧問料' '(2020年9⽉分)' '振込先：みずほ銀⾏'
 '⻁ノ⾨⽀店（普通）0101010' 'お振込み⼿数料は御社ご負担にてお願いいたします。' 'お⽀払い期限：2020年10⽉31⽇' '請'
 '求' '書' '備考' '消費税' '10%' '1' '\\100,000' '⼩計' '\\10,210' '源泉税' '\\99,790'
 '合計⾦額' '単' '価' '⾦' '額' '\\100,000' '⼭⽥法律事務所' '\\100,000' '\\10,000']

In [30]:
dataset = pd.DataFrame({
    "image_name": image_path,
    "words": [words],
    "bboxes": [bboxes],
    "labels": [labels],
})

In [31]:
dataset

,image_name,words,bboxes,labels
0,sample5_image_0.jpeg,"[いつもご利⽤いただきありがとうございます。, INVOICE, 株式会社デモ, 下記の通り...","[[53, 880, 331, 888], [470, 59, 531, 68], [53,...","[others, others, clientName, others, total, ot..."

In [24]:
dataset.to_csv('../data/processed/test/sample5.csv')