In [2]:
import pandas as pd

In [23]:
csv_path = "../data/sample3.csv"
df = pd.read_csv(csv_path)

In [24]:
df

,Unnamed: 0,image_name,words,bboxes,labels
0,0,sample3_image_0.jpeg,請求,"[430, 67, 509, 87]",others
1,1,sample3_image_0.jpeg,書,"[541, 67, 564, 87]",others
2,2,sample3_image_0.jpeg,サンプル,"[114, 112, 206, 130]",clientName
3,3,sample3_image_0.jpeg,産業,"[211, 112, 250, 130]",clientName
4,4,sample3_image_0.jpeg,株式会社,"[260, 112, 357, 130]",clientName
...,...,...,...,...,...
127,127,sample3_image_0.jpeg,0123456,"[107, 797, 179, 809]",bankinfo
128,128,sample3_image_0.jpeg,サンプル,"[109, 819, 176, 832]",bankinfo
129,129,sample3_image_0.jpeg,(,"[193, 819, 198, 832]",bankinfo
130,130,sample3_image_0.jpeg,カ,"[208, 819, 215, 832]",bankinfo
131,131,sample3_image_0.jpeg,備考,"[85, 872, 121, 887]",others

In [25]:
image_path = df['image_name'][0]
print(image_path)

sample3_image_0.jpeg

In [26]:
words = df['words'].values
bboxes = df['bboxes'].values
labels = df['labels'].values
print(words)

['請求' '書' 'サンプル' '産業' '株式会社' '御' '中' '請求' 'No.' 'ご' '担当' ':' '請求' 'さ' 'れ'
 '太郎' '様' '請求' '日' '件名' ':' '2020' '年' '10' '月' 'サービス' '利用' '料' '下記' 'の'
 '通り' '、' 'ご' '請求' '申し上げ' 'ます' '。' '株式会社' '前' '月末' '払' 'ンボ株' ')'
 '〒123-4567' 'it' '東京' '都' '新宿' '区' '新宿' 'りごと' '3' '新宿' '第' '1' 'ビル' '2'
 '階' 'EP' 'サ' '社' 'TEL' ':' '03-0000-0000' 'FAX' ':' '03-0000-0000' 'E'
 '-' 'Mail' ':' 'sample' '@' 'sample' ',' 'com' '担当' ':' 'サービス' 'し' '太郎'
 '合計' '金額' '¥' '330,000' '(' '税' '込' ')' 'お' '支払' '期限' ':' '2020/9/30'
 '摘要' '数量' '単' '価' '金額' 'No.' '|' 'サービス' '利用' '料' '1' '300,000' '¥'
 '300,000' '小' '計' '消費' '税' '合計' '¥' '300,000' '¥' '30,000' '¥' '330,000'
 'お' '振込' '先' 'サンプル' '銀行' 'サンプル' '支店' '普通' '0123456' 'サンプル' '(' 'カ' '備考']

In [49]:
import ast

# Your string representation of a list

bboxes_int = []
# Convert the string to a list of integers
for bbox in bboxes:
    bbox = ast.literal_eval(bbox)
    bboxes_int.append(bbox)
print(bboxes_int)

[[430, 67, 509, 87], [541, 67, 564, 87], [114, 112, 206, 130], [211, 112, 250, 130], [260, 112, 357, 130], [421, 112, 440, 128], [447, 112, 462, 128], [633, 114, 667, 127], [672, 114, 697, 127], [110, 147, 124, 160], [127, 147, 159, 160], [171, 147, 173, 160], [230, 146, 263, 160], [277, 146, 282, 160], [297, 146, 302, 160], [310, 147, 342, 160], [371, 147, 386, 160], [633, 147, 667, 159], [672, 147, 684, 159], [87, 187, 127, 203], [139, 187, 142, 203], [161, 187, 206, 203], [213, 187, 218, 203], [235, 187, 252, 203], [262, 187, 267, 203], [280, 187, 359, 203], [366, 187, 398, 203], [418, 187, 426, 203], [109, 211, 139, 225], [151, 211, 156, 225], [163, 211, 194, 225], [203, 211, 206, 225], [225, 211, 228, 225], [238, 211, 267, 225], [272, 211, 346, 225], [347, 211, 379, 225], [386, 211, 391, 225], [579, 187, 652, 202], [660, 187, 665, 202], [673, 187, 707, 202], [717, 187, 722, 202], [724, 200, 826, 221], [821, 202, 830, 221], [583, 211, 678, 224], [756, 218, 830, 240], [576, 229, 613, 252], [625, 230, 631, 252], [640, 231, 667, 253], [678, 233, 685, 254], [694, 233, 726, 255], [731, 234, 754, 255], [766, 235, 773, 256], [581, 252, 610, 272], [625, 253, 628, 272], [640, 253, 645, 272], [650, 253, 682, 273], [685, 254, 690, 273], [700, 254, 712, 273], [726, 254, 756, 274], [776, 255, 783, 274], [815, 255, 830, 275], [625, 278, 657, 291], [667, 278, 668, 291], [685, 278, 806, 291], [625, 299, 657, 312], [667, 299, 668, 312], [685, 299, 806, 312], [605, 322, 613, 335], [615, 322, 620, 335], [623, 322, 657, 335], [667, 322, 668, 335], [685, 322, 739, 335], [746, 323, 751, 335], [757, 323, 808, 336], [813, 323, 816, 336], [820, 323, 848, 336], [621, 343, 655, 356], [667, 343, 668, 356], [685, 343, 756, 356], [768, 343, 773, 356], [783, 343, 816, 356], [87, 380, 129, 397], [131, 380, 173, 397], [267, 381, 277, 397], [280, 381, 357, 397], [435, 381, 438, 395], [442, 381, 458, 395], [460, 381, 477, 395], [478, 381, 484, 395], [568, 381, 583, 395], [586, 381, 620, 395], [621, 381, 657, 395], [667, 381, 668, 395], [764, 381, 857, 394], [295, 422, 331, 437], [559, 423, 593, 437], [690, 422, 707, 436], [709, 422, 726, 436], [848, 423, 882, 437], [63, 423, 90, 436], [102, 445, 109, 461], [109, 445, 176, 461], [183, 445, 213, 461], [228, 445, 235, 461], [546, 449, 551, 460], [714, 447, 779, 461], [860, 448, 868, 461], [872, 448, 937, 461], [559, 709, 569, 722], [586, 709, 594, 722], [549, 731, 579, 745], [594, 731, 603, 745], [557, 752, 593, 766], [860, 709, 868, 722], [872, 709, 937, 722], [872, 732, 878, 745], [882, 732, 937, 745], [860, 753, 870, 768], [870, 753, 937, 768], [55, 732, 70, 746], [73, 732, 109, 746], [110, 732, 127, 746], [109, 752, 176, 768], [181, 752, 216, 768], [238, 752, 307, 768], [309, 752, 346, 768], [112, 776, 147, 789], [107, 797, 179, 809], [109, 819, 176, 832], [193, 819, 198, 832], [208, 819, 215, 832], [85, 872, 121, 887]]

In [56]:
dataset = pd.DataFrame({
    "image_name": [image_path],
    "words": [words],
    "bboxes": [bboxes],
    "labels": [labels],
})

In [51]:
dataset

,image_name,words,bboxes,labels
0,sample3_image_0.jpeg,"[請求, 書, サンプル, 産業, 株式会社, 御, 中, 請求, No., ご, 担当, ...","[[430, 67, 509, 87], [541, 67, 564, 87], [114,...","[others, others, clientName, clientName, clien..."

In [54]:
dataset['bboxes']

0    [[430, 67, 509, 87], [541, 67, 564, 87], [114,...
Name: bboxes, dtype: object

In [30]:
dataset.to_json('../data/processed/training/sample3.json')