In [5]:
from helper import json2words, normalize_bbox
import os

json_dir = "../data/char_recognition/"

for file in os.listdir(json_dir):
    if file.endswith(".json"):
        json_path = os.path.join(json_dir, file)
        words, bboxes = json2words(json_path)
        normalized_bboxes = normalize_bbox(bboxes)

In [44]:
from helper import json2words, normalize_bbox
import os

json_dir = "../data/char_recognition/"

json_path = os.path.join(json_dir, "sample2.json")
words, bboxes = json2words(json_path)
normalized_bboxes = normalize_bbox(bboxes)

In [45]:
print(words)

['請求', '書', 'サンプル', '産業', '株式会社', '御', '中', '請求', 'No.', 'ご', '担当', ':', '請求', 'さ', 'れ', '太郎', '様', '請求', '日', '件名', ':', '2020', '年', '10', '月', 'サービス', '利用', '料', '下記', 'の', '通り', '、', 'ご', '請求', '申し上げ', 'ます', '。', '株式会社', '前', '月末', '払', 'ンボ株', ')', '〒123-4567', 'it', '東京', '都', '新宿', '区', '新宿', 'りごと', '3', '新宿', '第', '1', 'ビル', '2', '階', 'EP', 'サ', '社', 'TEL', ':', '03-0000-0000', 'FAX', ':', '03-0000-0000', 'E', '-', 'Mail', ':', 'sample', '@', 'sample', ',', 'com', '担当', ':', 'サービス', 'し', '太郎', '合計', '金額', '¥', '330,000', '(', '税', '込', ')', 'お', '支払', '期限', ':', '2020/9/30', '摘要', '数量', '単', '価', '金額', 'No.', '|', 'サービス', '利用', '料', '1', '300,000', '¥', '300,000', '小', '計', '消費', '税', '合計', '¥', '300,000', '¥', '30,000', '¥', '330,000', 'お', '振込', '先', 'サンプル', '銀行', 'サンプル', '支店', '普通', '0123456', 'サンプル', '(', 'カ', '備考']

In [23]:
print(normalized_bboxes)

[[53, 880, 331, 888], [470, 59, 531, 68], [53, 138, 184, 153], [379, 165, 559, 172], [391, 248, 484, 266], [80, 248, 213, 266], [494, 250, 571, 263], [272, 298, 284, 306], [289, 298, 300, 306], [305, 298, 309, 306], [314, 298, 326, 306], [331, 298, 342, 306], [615, 298, 626, 306], [631, 298, 643, 306], [67, 321, 104, 330], [109, 321, 198, 330], [53, 912, 171, 920], [186, 912, 357, 920], [53, 927, 371, 935], [53, 942, 247, 951], [423, 21, 452, 41], [485, 21, 514, 41], [547, 21, 576, 41], [489, 856, 510, 863], [586, 768, 625, 776], [631, 768, 657, 776], [618, 321, 623, 330], [885, 321, 939, 330], [616, 744, 642, 752], [892, 792, 941, 800], [608, 792, 647, 800], [892, 814, 941, 823], [601, 814, 653, 823], [742, 298, 754, 306], [759, 298, 771, 306], [872, 298, 884, 306], [889, 298, 900, 306], [756, 321, 811, 330], [759, 180, 867, 190], [885, 744, 941, 752], [892, 768, 941, 776]]

In [68]:
b = ['請求', '書', 'サンプル', '産業', '株式会社', '御', '中', '請求', 'No.', 'ご', '担当', ':', '請求', 'さ', 'れ', '太郎', '様', '請求', '日', '件名',
      ':', '2020', '年', '10', '月', 'サービス', '利用', '料', '下記', 'の', '通り', '、', 'ご', '請求', '申し上げ', 'ます', '。', '株式会社', '前', 
      '月末', '払', 'ンボ株', ')', '〒123-4567', 'it', '東京', '都', '新宿', '区', '新宿', 'りごと', '3', '新宿', '第', '1', 'ビル', '2', '階', 'EP', 
      'サ', '社', 'TEL', ':', '03-0000-0000', 'FAX', ':', '03-0000-0000', 'E', '-', 'Mail', ':', 'sample', '@', 'sample', ',', 'com', '担当', ':',
        'サービス', 'し', '太郎', '合計', '金額', '¥', '330,000', '(', '税', '込', ')', 'お', '支払', '期限', ':', '2020/9/30', '摘要', '数量', '単',
          '価', '金額', 'No.', '|', 'サービス', '利用', '料', '1', '300,000', '¥', '300,000', '小', '計', '消費', '税', '合計', '¥', '300,000', '¥',
            '30,000', '¥', '330,000', 'お', '振込', '先', 'サンプル', '銀行', 'サンプル', '支店', '普通', '0123456', 'サンプル', '(', 'カ', '備考']

a = ['others' for _ in range(len(b))]
a[2] = 'clientName'
a[3] = 'clientName'
a[4] = 'clientName'
# a[-10:-2] = ['bankinfo' for _ in range(9)]



for i, element in enumerate(b):
  if element == '330,000':
    a[i] = 'total'

for i, element in enumerate(b):
  if element == '2020/9/30':
    a[i] = 'paymentDueDate'



    


for i in range(len(b)):
  print(a[i], b[i])

print(len(a))
print(len(b))

others 請求
others 書
clientName サンプル
clientName 産業
clientName 株式会社
others 御
others 中
others 請求
others No.
others ご
others 担当
others :
others 請求
others さ
others れ
others 太郎
others 様
others 請求
others 日
others 件名
others :
others 2020
others 年
others 10
others 月
others サービス
others 利用
others 料
others 下記
others の
others 通り
others 、
others ご
others 請求
others 申し上げ
others ます
others 。
others 株式会社
others 前
others 月末
others 払
others ンボ株
others )
others 〒123-4567
others it
others 東京
others 都
others 新宿
others 区
others 新宿
others りごと
others 3
others 新宿
others 第
others 1
others ビル
others 2
others 階
others EP
others サ
others 社
others TEL
others :
others 03-0000-0000
others FAX
others :
others 03-0000-0000
others E
others -
others Mail
others :
others sample
others @
others sample
others ,
others com
others 担当
others :
others サービス
others し
others 太郎
others 合計
others 金額
others ¥
total 330,000
others (
others 税
others 込
others )
others お
others 支払
others 期限
others :
paymentDueDate 2020/9/30
others 摘要
others 数量
others 単
others 価
others 金額
others No.
others |
others サービス
others 利用
others 料
others 1
others 300,000
others ¥
others 300,000
others 小
others 計
others 消費
others 税
others 合計
others ¥
others 300,000
others ¥
others 30,000
others ¥
total 330,000
others お
others 振込
others 先
others サンプル
others 銀行
others サンプル
others 支店
others 普通
others 0123456
others サンプル
others (
others カ
others 備考
132
132

In [58]:
print(b[-10:-2])

['サンプル', '銀行', 'サンプル', '支店', '普通', '0123456', 'サンプル', '(']

In [ ]:
[invoiceDate, documentDate, paymentDueDate, paymentAmount, clientName, bankAccounts, subtotal, tax_amount, total, bankName, branchName, accountType, accountNumber, holderName, others]

In [69]:
image_name = "sample3_image_0.jpeg"
image_list = [image_name for _ in range(len(words))]
print(image_list)

['sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg', 'sample3_image_0.jpeg']

In [70]:
import pandas as pd
dataset = pd.DataFrame({
    "image_name": image_list,
    "words": words,
    "bboxes": normalized_bboxes,
    "labels": a,
})

In [71]:
dataset

               image_name    words                bboxes      labels
0    sample3_image_0.jpeg       請求    [430, 67, 509, 87]      others
1    sample3_image_0.jpeg        書    [541, 67, 564, 87]      others
2    sample3_image_0.jpeg     サンプル  [114, 112, 206, 130]  clientName
3    sample3_image_0.jpeg       産業  [211, 112, 250, 130]  clientName
4    sample3_image_0.jpeg     株式会社  [260, 112, 357, 130]  clientName
..                    ...      ...                   ...         ...
127  sample3_image_0.jpeg  0123456  [107, 797, 179, 809]      others
128  sample3_image_0.jpeg     サンプル  [109, 819, 176, 832]      others
129  sample3_image_0.jpeg        (  [193, 819, 198, 832]      others
130  sample3_image_0.jpeg        カ  [208, 819, 215, 832]      others
131  sample3_image_0.jpeg       備考   [85, 872, 121, 887]      others

[132 rows x 4 columns]

In [72]:
dataset.to_csv('../data/sample3.csv')